<!DOCTYPE html>
<html lang="en">
<!--
@File: index.html
@Author: Alice(From Chengdu.China)
@HomePage: https://github.com/AliceEngineerPro
@CreatedTime: 2022/10/9 21:06
-->
<head>
    <meta charset="UTF-8">
    <title>天气识别</title>
    {# 导入static #}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/weather_index.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="header">
    <div class="title_text">
        <span>天气现象识别</span>
    </div>
</div>
<div class="body">
    <form action="{% url 'weather:converter_images_to_base64' %}" method="post" name="submit_data" enctype="multipart/form-data">
{#            <label for="inputGroupFile02" class="form-label">请选择要识别的图片:</label>#}
{#            <input type="file" id="inputGroupFile02" name="image" class="form-control" accept="image/png, .jpg, .jpeg">#}
        <label for="file_images" class="form-label"><span>请选择要识别的图片:</span></label>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="file_images" name="image">
            <input type="submit" name="button_submit" value="开始识别" class="input-group-text btn btn-primary">
        </div>
    </form>
</div>
<div class="footer"></div>
</body>
</html>